body {
	
  font-family: sans-serif;
}

#root{
  width: 60%;
  padding-right: 24px;
	margin: 0 auto;
	height: 1800px;
	background-color: rgb(138, 170, 207);
}

.conta{
	width: 912px;
	margin: 0 auto;
}

td {
	color: #505050;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	padding-left: 24px;
	padding-bottom: 24px;
	padding-top: 24px;
}

tr {
	height: 72px;
	border-bottom: 1px solid #e3e4e5;
	border-collapse: collapse;
}

th{
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	
	text-align: left;

	color: #757575;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;

}

#thr{
	height: 48px;
}

table{
	width: 912px;
	background-color: #ffffff;
	margin-left: 32px;
}
.eBtn{
	background-color: #ffffff;
	border-width: 0px;
}
.eSty{
	fill: #909090;
	height: 24px;
	width: 24px;
}
h3{
	margin-top: 50px;
	margin-left: 32px;
	margin-bottom: 32px;
}
form {
	background-color: white;
	height: 72px;
	padding-left:16px ;
	width: 912px;
	margin-bottom: 15px;
	margin-left: 32px;
}

.pointer{
	cursor: pointer;
}
.inputStyle{
	height: 40px;
	margin-top: 16px;
	margin-right: 16px;

}
.btn {
	height: 40px;
	font-size: 16px;
	font-weight: 500;
}

#saveBtn{
	background: #07f;
	color: #ffffff;
}

#header{
	margin: 0px auto;
	height: 96px;
	width :976px;
	background-color: rgb(175, 201, 230);
}

#logo{
	height: 32px;
	margin-top: 32px;
	margin-left:32px;

}

